version: '2.2'

services:
  redis:
    image: redis:alpine
    command:
      - redis-server
    env_file:
      - ./app/.env
    restart: on-failure
    ports:
      - "6379:6379"
  db:
    image: postgres:15-alpine
    env_file:
      - ./app/.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  bot:
    build: ./app
    env_file:
      - ./app/.env
    depends_on:
      - redis
      - db
    restart: always

volumes:
  pgdata: